*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background: #333;
  padding: 1rem ;
  margin-bottom: 1rem;
}

.draggable {
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
  cursor: move;
}

.dragging {
  opacity: .5;
}